<div class="form-viewer">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>{{ title }}</mat-card-title>

      <mat-card-content class="wonder-drugs-form">
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit" mat-button>Login</button>
      </mat-card-actions>

    </mat-card>
  </form>
</div>