.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
}

.wonder-drugs-form {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.wonder-drugs-form > * {
  width: 100%;
}

.drop-zone{
  min-height: 50px;
  max-width: 50px;
  border: 3px solid green;
}
